* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #8A2BE2;
  }
  
  .container {
    max-width: 500px;
    margin: 50px auto;
    text-align: center;
  }
  
  img {
    width: 230px;
  }
  
  select {
    width: 100px;
    padding: 5px;
    margin: 5px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #FB0881;;
    border: none;
    color: white;
    cursor: pointer;
    margin-top: 20px;
  }
  
  button:hover {
    background-color: #FB0881;
  }
  
  #alarms {
    margin-top: 30px;
  }
  
  #alarm-list {
    list-style: none;
    padding: 0;
  }
  
  #alarm-list li {
    background-color:#FB0881;
    padding: 10px;
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  #alarm-list li button {
    background-color: #FB0881;
    color: rgb(255, 255, 255);
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  #alarm-list li button:hover {
    background-color: #FB0881;
  }
  